
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.panel {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	padding:1rem;
}

span {
	display: inline-block;
}

.important {
	border-radius: 0.5rem;
	border:solid 2px rgb(255, 217, 0);
	color: black;
	padding: 0.25rem;
}